<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcy.mapper.GeneralUserMapper">
    <resultMap id="BaseResultMap" type="com.pcy.domain.MovieUser">
        <!--@mbg.generated-->
        <!--@Table movie_user-->
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_unique_name" jdbcType="VARCHAR" property="userUniqueName"/>
        <result column="account" jdbcType="CHAR" property="account"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="sex" jdbcType="CHAR" property="sex"/>
        <result column="birth" jdbcType="VARCHAR" property="birth"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="profession" jdbcType="VARCHAR" property="profession"/>
        <result column="user_head_portrait_url" jdbcType="VARCHAR" property="userHeadPortraitUrl"/>
        <result column="user_url" jdbcType="VARCHAR" property="userUrl"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, user_name, user_unique_name, account, `password`, email, phone, sex, birth,
        age, profession, user_head_portrait_url, user_url
    </sql>

    <select id="selectUsernameById" resultType="java.lang.String">
        select account
        from movie_user
        where user_id = #{id}
    </select>

    <select id="selectGeneralUserByUsername" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from movie_user
        where account = #{username}
    </select>
</mapper>