<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcy.mapper.VerificationCodeSendRecordMapper">
    <resultMap id="BaseResultMap" type="com.pcy.domain.VerificationCodeSendRecord">
        <!--@mbg.generated-->
        <!--@Table verification_code_send_record-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
        <result column="verification_code" jdbcType="CHAR" property="verificationCode"/>
        <result column="send_time" jdbcType="TIMESTAMP" property="sendTime"/>
        <result column="success_flag" jdbcType="CHAR" property="successFlag"/>
        <result column="request_id" jdbcType="VARCHAR" property="requestId"/>
        <result column="transaction_id" jdbcType="VARCHAR" property="transactionId"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, phone_number, verification_code, send_time, success_flag, request_id, transaction_id
    </sql>

</mapper>